{
  "cloudPlatform": "AWS",
  "description": "{{ item.credential_description }}",
  "name": "{{ item.credential_name }}",
  "parameters": {
    "selector": "key-based",
    "secretKey": "{{ item.secret_key }}",
    "accessKey": "{{ item.access_key }}"
  }
}
